@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
}
* {
    margin: 0px;
}
html, body {
      max-width: 100%;
      overflow-x: ;
      }
body {
    margin: 0px;
    background: ,#fff;
    background-size: 100%;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}
welalxcome {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: #ffffffcc;
    z-index: 999;
}
welalxcome img {
        width:15vw;
    height: auto;
}
chsalxcome {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.talxcome {
    width: 130%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.talxcome img {
        width: 73%;
}
.balxcome {
        height: 45vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.txalxcome {
        width: 90%;
    height: 30vh;
    text-align: left;
}
 
 .asu{
     width:100%;
     margin-top:90px;
     position: fixed;
     height: 100%;
     z-index:3;
     
     
 }  
    
 .nyusu{
     border-radius:7px;
     height:150px;
     margin-top: 50px;
     margin-left: 20px;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
     
 }
 
 ion-icon{
    font-size: 22px;
    margin-left: 8px;
    margin-top: -2px;
    position: absolute;
    color: #06529C;
}

.button-85 {
  background-color: ;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index:-1;
  
  
}

.button-85:before {
  content: "";
  background: linear-gradient(
    50deg,
    #fff000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: 500%;
  z-index: -1;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  width: calc(100% + 0px);
  height: calc(100% + 0px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 18px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffffe6;
  left: 0;
  top: 0;
  border-radius: 18px;
}
.patokk{
    z-index:3;
    display:block;
    margin-left: 20px;
    margin-top:;
    position:relative;
    background-color:#0F78CB;
    color:#fff;
    border:0px solid #0076e0;
    width:90%;
    border-radius:3px;
    font-family: 'Nunito',
    sans-serif;
    font-size: 15px;
    padding:13px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 10px 10px,
rgba(0, 0, 0, 0.20) 0px 6px 6px;
}

.patokk:hover { 
         z-index:3;
         opacity:0.3;
         border: 1px solid #0F78CB; 
         background-color: #0F78CB; 
         color: #fff; 
         
         
         } 
.patokk:disabled, 
.patokk[disabled]{
    z-index:3;
    opacity:0.3;
    border: 1px solid #0F78CB; 
         background-color: #0F78CB; 
         color: #fff;
}

.pilat{
    z-index:3;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 100%;
    height: 72px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -12px 15px 0px;
padding-top: 15px
}

.hh{
    z-index:2;
    position: fixed; 
    top: -10; 
    left: 0; 
    right: 0; 
    margin: 0px auto; 
    width: 100%; 
    height: 50px; 
    background: #0F78CB; 
    border-bottom: 0px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 10px 10px, rgba(0, 0, 0, 0.20) 0px 6px 6px;
    }
    
    .hu{
        z-index:3;
        bottom:170px;
        margin-left: 23px;
        margin-top: -170px;
        position: absolute;
        border:5px solid #fff;
        padding:15px;
        width:78%;
        border-radius:18px; 
        background: #ffffffe6;
        background-size:100%; 
        height: 230px; 
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 15px 0px; 
    }
    

.saldo{
box-sizing: border-box;
height: 40px;
width: 536px;
max-width: 100%;
border: 1px solid rgb(0, 134, 224);
border-image: initial;
background-color: rgb(255, 255, 255);
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
font-family: 'Nunito',
sans-serif;
font-weight: bold;
font-size: 15px;
color: rgb(28, 28, 28);
word-spacing: 0px;
padding: 0px 10px;
outline: none;
}